*
{
    font-family: fantasy;
    font-weight: lighter;
}

#main, #page2
{
    margin: 50px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(240, 232, 232);
}

.p1
{
    border: 2px solid black;
    margin: 10px;
    border-radius: 12px;
    padding: 5px;
    background-color: antiquewhite;
}

h3
{
    text-decoration: underline;
    color: rgb(200, 19, 19);
}

.highlight
{
    background-color: #00FFFF;
}

#secondpagelink
{
    text-decoration: none;
    color: black;
}

#button
{
    background-color: antiquewhite;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

#president
{
    height: 200px;
    border-radius: 10px;
}

#imgdiv-president
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#foxnews-links
{
    margin-left: 20px;
}

.links
{
    text-decoration: none;
    color: black;
}