#main
{
    margin: 50px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: whitesmoke;
}

.p1
{
    border: 2px solid black;
    margin: 10px;
    border-radius: 12px;
    padding: 5px;
    background-color: antiquewhite;
}

h3
{
    text-decoration: underline;
}

.highlight
{
    background-color: #00FFFF;
}